@import '~bootstrap/scss/bootstrap';
@import './partials/header';
@import './partials/comics';
@import './partials/footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul, ol, menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

img{
    display: block;
}
