.footer{
    padding: 40px 0;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.footer-copy{
    padding-top: 20px;
}

.footer-socials{
    background-color: #303030;
    padding: 30px 0px;
}

.socials_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bg-color-gray{
    background-color: #303030;
}

.scroll-top{
    z-index: 999;
    text-align: center;
    padding: 7px 12px;
    font-size: 14px;
    background: #0c70de;
    border-radius: 50%;
    color: #fff;
    position: fixed;
    bottom: 80px;
    right: 30px;
}

.bg-img-dc{
    background-image: url(../images/dc-logo-bg.png);
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    right: 0;
    top: 0;
}