.footer{
    padding: 40px 0;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-copy{
    padding-top: 20px;
}

.footer-socials{
    background-color: #303030;
}