
.header__add{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.new-comic-btn{
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    a{
        text-decoration: none;
        color: white;
    }
}

.navbar_logo{
    display: flex;
    justify-content: center;

    img{
        width: 70px;
    }
}

.navbar_items{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;

    a{
        text-decoration: none;
        color: currentColor;
    }
}

.jumbo{
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}